<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-custom-splash"
        version="1.0.0">

    <name>CustomSplash</name>
    <description>Cordova plugin for full screen splash</description>
    <license>MIT</license>

    <js-module src="www/customSplash.js" name="customSplash">
        <clobbers target="customSplash" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomSplash">
                <param name="android-package" value="com.custom.splash.CustomSplash"/>
            </feature>
        </config-file>

        <source-file src="src/android/CustomSplash.java" target-dir="src/com/custom/splash"/>
    </platform>

</plugin>
